.mat-form-field .mat-label {
  font-size: 1.1rem;
  color: #00796b;
}

.font-semibold {
  font-size: 1.8rem;
  color: #00796b; /* Complementary color for headings */
  margin-bottom: 24px;
  text-align: center;
  font-weight: bold;
}
