<div class="form-container">
    <div class="w-full">
      <div class="relative h-full rounded-lg group p-6">
        <div class="font-semibold text-lg mb-4" *ngIf="!id">CREATE NEW REFERRALS</div>
        <div class="font-semibold text-lg mb-4" *ngIf="id">UPDATE REFERRALS</div>
  
        <form [formGroup]="referralsForm" class="horizontal-form">
          <!-- Patient Name -->
          <div class="form-row">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Patient Name</mat-label>
              <mat-select formControlName="patient_id">
                <mat-option *ngFor="let patient of patients" [value]="patient.patient_id">
                  {{ patient.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <!-- Hospital Name -->
          <div class="form-row">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Hospital Name</mat-label>
              <mat-select formControlName="hospital_id">
                <mat-option *ngFor="let h of hospital" [value]="h.hospital_id">
                  {{ h.hospital_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <!-- Referral Type -->
          <div class="form-row">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Referral Type</mat-label>
              <mat-select formControlName="referral_type_id">
                <mat-option *ngFor="let type of referralTypes" [value]="type.referral_type_id">
                  {{ type.referral_type_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <!-- Reason -->
          <div class="form-row">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Reason</mat-label>
              <mat-select formControlName="reason_id">
                <mat-option *ngFor="let r of reason" [value]="r.reason_id">
                  {{ r.referral_reason_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <!-- Start Date -->
          <div class="form-row">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Start Date</mat-label>
              <input matInput [matDatepicker]="startPicker" formControlName="start_date" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>
              <mat-error *ngIf="referralsForm.controls['start_date'].touched && referralsForm.controls['start_date'].invalid">
                <span *ngIf="referralsForm.controls['start_date'].errors?.['required']">This field is mandatory</span>
              </mat-error>
            </mat-form-field>
          </div>
  
          <!-- End Date -->
          <div class="form-row">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>End Date</mat-label>
              <input matInput [matDatepicker]="endPicker" formControlName="end_date" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
              <mat-datepicker #endPicker></mat-datepicker>
              <mat-error *ngIf="referralsForm.controls['end_date'].touched && referralsForm.controls['end_date'].invalid">
                <span *ngIf="referralsForm.controls['end_date'].errors?.['required']">This field is mandatory</span>
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
  
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="!text-red-600 hover:!text-red-700 font-semibold">Cancel</button>
        <button mat-flat-button color="primary" *ngIf="!id" [disabled]="referralsForm.invalid" (click)="saveReferrals()">Save Data</button>
        <button mat-flat-button color="accent" *ngIf="id" [disabled]="referralsForm.invalid" (click)="updateReferrals()">Update</button>
        <!-- Uncomment when update method is added -->
        <!-- <button mat-flat-button color="accent" *ngIf="id" [disabled]="referralsForm.invalid" (click)="updateReferrals()">Update</button> -->
      </mat-dialog-actions>
      
      
  </div>
  