<div class="w-full max-w-4xl mx-auto">
    <div class="relative h-full rounded-2xl group p-8 bg-white shadow-2xl border border-gray-300">

      <div *ngIf="id" class="font-semibold ">CONFIRM STATUS FORM</div>
      <form [formGroup]="statusForm" >

          <!-- Notes -->
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Description</mat-label>
            <textarea
              formControlName="letter_text"
              matInput
              rows="5"
              class="text-black"
            ></textarea>
            <mat-error *ngIf="statusForm.controls['letter_text'].touched && statusForm.controls['letter_text'].invalid">
              <span *ngIf="statusForm.controls['letter_text'].errors?.['required']">
                This field is mandatory
              </span>
            </mat-error>
          </mat-form-field>
    



       <!--Status Selection -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="Confirmed">Confirmed</mat-option>
            <mat-option value="Cancelled">Cancelled</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Action Buttons -->
        <div class="flex justify-end gap-6 pt-4">
          <button mat-button mat-dialog-close>Cancel</button>
          <button *ngIf="id" mat-flat-button [mat-dialog-close]="true" cdkFocusInitial [disabled]="statusForm.invalid" (click)="saveReferralLetter()">SEND COMFIRMATION</button>
          <!-- <button mat-flat-button  (click)="saveReferralLetter()">Add Referral</button> -->
          <!-- <button mat-raised-button color="warn" type="button" (click)="saveReferralLetter()">Cancel</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="!statusForm.valid">
            Submit
          </button> -->
        </div>
      </form>
    </div>
  </div>
