<div class="p-10 space-y-8" >
    <div class="flex items-center justify-between">
      <h1 class="text-lg font-bold">View Referrals </h1>
    </div>
    <div class="w-full">

      <div class="relative h-full rounded-lg border group dark:border-inverse p-4">
        <div class="font-semibold pb-2.5 border-b-2 border-b-secondary-400">View Referrals </div>
        <div class="mt-4 flex items-center justify-between">
          <div class="flex items-center gap-1.5">
            <div class="size-9 rounded-full border bg-surface flex flex items-center justify-center" (click)="renew()" matTooltip="Refresh">
              <mat-icon class="font-icon visibilityData">refresh</mat-icon>
            </div>
            <emr-v-divider></emr-v-divider>
            <input type="text" placeholder="Search..."
                   class="border-b h-10 w-96 text-sm bg-transparent dark:border-b-inverse outline-0 focus-within:border-neutral-950" matInput (keyup)="applyFilter($event)" #input>
          </div>
          <div class="flex space-x-2" *ngIf="isStaff">
            <button mat-flat-button (click) = "addReferrals()"  *ngIf="permission.parmissionMatched(['Create Referral'])">
              <mat-icon class="font-icon">add</mat-icon>Add Referrals
            </button>
            </div>
        </div>

        <div class="border dark:border-inverse rounded-lg overflow-hidden mt-4">
          <table mat-table [dataSource]="dataSource" class="not-prose">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef class="text-neutral-500 dark:text-neutral-400"> No. </th>
              <td mat-cell *matCellDef="let element,let i = index"> {{i+1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="patient_name">
              <th mat-header-cell *matHeaderCellDef class="text-neutral-500 dark:text-neutral-400"> Patient Full-Name</th>
              <td mat-cell *matCellDef="let element,"> {{element.patient_name | uppercase}} </td>
            </ng-container>


            <!-- Name Column -->
            <ng-container matColumnDef="hospital_name">
              <th mat-header-cell *matHeaderCellDef class="text-neutral-500 dark:text-neutral-400">Hospital name </th>
              <td mat-cell *matCellDef="let element,"> {{element.hospital_name}} </td>
            </ng-container>

             <!-- Name Column -->
             <ng-container matColumnDef="referral_type_name">
                <th mat-header-cell *matHeaderCellDef class="text-neutral-500 dark:text-neutral-400">Referral Type </th>
                <td mat-cell *matCellDef="let element,"> {{element.referral_type_name}} </td>
              </ng-container>

               <!-- Name Column -->
             <ng-container matColumnDef="referral_reason_name">
                <th mat-header-cell *matHeaderCellDef class="text-neutral-500 dark:text-neutral-400">Reason </th>
                <td mat-cell *matCellDef="let element,"> {{element.referral_reason_name}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="text-neutral-500 dark:text-neutral-400">Status </th>
                <td mat-cell *matCellDef="let element,"
                [ngClass]="{
                  'text-green-600': element.status === 'Confirmed',
                  'text-red-600':  element.status === 'Denied',
                  'text-yellow-600': element.status === 'Pending'
                }"
                > {{element.status}} </td>
              </ng-container>

                <!-- Name Column -->
             <ng-container matColumnDef="start_date">
                <th mat-header-cell *matHeaderCellDef class="text-neutral-500 dark:text-neutral-400">Start Date </th>
                <td mat-cell *matCellDef="let element,"> {{element.start_date}} </td>
              </ng-container>

               <!-- Name Column -->
              <ng-container matColumnDef="end_date">
                <th mat-header-cell *matHeaderCellDef class="text-neutral-500 dark:text-neutral-400">End Date </th>
                <td mat-cell *matCellDef="let element,"> {{element.end_date}} </td>
              </ng-container>


          <!-- Weight Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="text-neutral-500 dark:text-neutral-400"> Action </th>
            <td mat-cell *matCellDef="let element">

              <emr-segmented  theme="simple" class="-mx-2">
                 <!-- View referral more data for confirmation hii aone DG tu -->
                <emr-segmented-button *ngIf="!isStaff" value="visibilityData">
                  <span class="size-9 rounded-full border bg-surface flex items-center justify-center" (click)="displayMoreData(element)" matTooltip="View">
                    <mat-icon class="font-icon visibilityData">visibility</mat-icon>
                  </span>
                </emr-segmented-button>

                 <emr-segmented-button value="visibilityData">
                  <span class="size-9 rounded-full border bg-surface flex items-center justify-center" (click)="displayComment(element.referral_id)" matTooltip="View">
                   <mat-icon aria-hidden="false" aria-label="Comments icon">comment</mat-icon>

                  </span>
                </emr-segmented-button>



                <!--print value-->
                <!-- <emr-segmented-button *ngIf="element.status === 'Confirmed'" value="visibilityData">
                  <span class="size-9 rounded-full border bg-surface flex items-center justify-center" (click)="referralsLetterPopup(element)" matTooltip="Print">
                    <mat-icon class="font-icon visibilityData">print</mat-icon>
                  </span>
                </emr-segmented-button> -->


                <!--update for staff-->
                <emr-segmented-button  *ngIf="isStaff" value="edit_squareData">
                  <span class="size-9 rounded-full border bg-surface flex items-center justify-center" (click)="updateRefererral(element.referral_id)" *ngIf="permission.parmissionMatched(['Update Referral'])" matTooltip="Edit">
                    <mat-icon class="font-icon edit_squareData">edit_square</mat-icon>
                  </span>
                </emr-segmented-button>
                <!-- block for staff-->
                <emr-segmented-button  *ngIf="isStaff" value="edit_squareData">
                  <mat-slide-toggle
                    [checked]="!element.deleted_at"
                    (toggleChange)="confirmBlock(element)"
                    color="primary">
                  </mat-slide-toggle>
                </emr-segmented-button>

              </emr-segmented>
            </td>
          </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell tablefoter" colspan="10" >No data matching the filter " {{input.value}} "</td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10, 20]"
                         showFirstLastButtons
                         aria-label="Select page of country" class="pt-3">
          </mat-paginator>
        </div>
      </div>
    </div>

    <div *ngIf="loading" class="fixed inset-0 flex items-center justify-center bg-white bg-opacity-70 z-50">
      <div class="w-16 h-16 border-4 border-blue-500 border-dashed rounded-full animate-spin"></div>
    </div>
  </div>

